name: macOS CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: /bin/sh install_scripts/install.sh
      - run: /usr/local/bin/zsh install_scripts/install.zsh
      - run: sudo sh -c "echo '/usr/local/bin/zsh' >> /etc/shells"
